@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

.AddNoteActivity__content-beranda {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 120px;
    width: auto;
    height: auto;
    margin-left: 50px;
    padding: 40px 20px 20px 0px;;    
}

.AddNoteActivity1 {
    margin: 20px 0px 0px 75px;
}

/* Main Style */
.featured-box {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
}

.item-featured-box {
    flex: 1;
    margin: 0px 20px;
    padding: 30px;
    border-radius: 12px;
    cursor: pointer;
    -webkit-box-shadow: -10px 0px 13px -7px #958dec;
    box-shadow: -10px 0px 13px -7px #958dec;
    background-color: #fbf9f9;
}

.title-featured,
.title-featured2,
.title-featured3 {
    font-size: 28px;
    font-weight: bolder;
    text-align: center;
    text-decoration: underline;
}

.title-featured {
    color: #2155CD;
}

.title-featured2 {
    color: #66BFBF;
}

.title-featured3 {
    color: #FF0063;
}

.number-amount,
.number-amount2,
.number-amount3 {
    margin: 10px 0px;
    font-weight: 400;
    display: flex;
    align-items: center;
}

.number-amount{
    color: #937DC2
}

.number-amount2{
    color: #937DC2
}

.number-amount3{
    color: #937DC2
}

.item-content-featured {
    font-size: 30px;
    font-weight: 450;
}

.rate-arrow {
    display: flex;
    align-items: center;
    margin-left: 20px;
    font-weight: lighter;
    font-size: 16px;
    color: #FF7700;
}

.rate-progress {
    font-size: 14px;
    margin-left: 5px;
    color: #7743DB;
}

.rate-progress.up {
    color: #DC3535;
}

.sub-featured {
    font-size: 20px;
    color: #474E68;
    padding: 5px;
    font-weight: bold;
}

/* Infor New Task */

.newtask-box {
    width: 100%;
    height: 100%;
    flex: 0.5;
    -webkit-box-shadow: -10px 0px 13px -7px  #958dec;
    box-shadow: -10px 0px 13px -7px  #958dec;
    padding: 20px;
    margin-right: 20px;
    background-color: #FFFFFF;
}

.title-newtask-box {
    color: #3F0071;
    font-size: 20px;
    font-weight: bold;
}

.icon-newtask {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    object-fit: cover;
    color: #DC3535;
}

.list-newtask-box {
    margin: 10px;
    padding: 10px;
    list-style: circle;
    align-items: center;
}

.item-list-newtask-box {  
    display: flex;  
    align-items: center;
    padding: 8px;
    justify-content:space-around;
    margin: 0px;
    object-fit: cover;
}

.button-show {
    display: flex;
    align-items: center;
    border: solid #FFFFFF 2px;
    border-radius: 10px;
    padding: 7px 10px;
    background-color: #958dec;
    color: #FFFFFF;
    cursor: pointer;
}

.button-show2 {
    font-size: 12px !important;
    margin-right: 10px;
}

/* InfoLastTask Style */
.lastact-box {
    width: 100%;
    height: 100%;
    position:static;
    padding: 10px;
    margin-left: 40px;
    text-align: justify;
    flex: 2;
    gap: 2;
    box-shadow: -10px 0px 13px -7px  #958dec;
    -webkit-box-shadow: -10px 0px 13px -7px  #958dec;
    border: #958dec 2px;
    background-color: #FFFFFF;
}

.title-lastact-box {
    color: #F49D1A;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
}

.tr-lastact-box {
    color: #DC3535;
}

.table-lastact-box {
    width: 85%;
    height: auto;
    border-spacing: 20px;
}

.th-title-table-lastact-box {
    text-align: left;
}

.name-task {
    display: flex;
    align-items: center;
    font-weight: 600;
}

.activity-task,
.date-time-task {
    font-weight: 300;
}


/* Responsive Beranda */
@media screen and (max-width: 1000px) {

    .AddNoteActivity__content-beranda {
        column-gap: 60px;
        grid-template-columns: 2fr 1fr;
        overflow-x: scroll;
    }

    .featured-box {
        grid-template-columns: 1fr;
        width: 90%;
        row-gap: 20px;
    }

    .newtask-box {
        margin-right: 0px;
    }

    .lastact-box {
        min-width: 600px;
    }
    
    .newtask-box {
        min-width: 350px;
    }
}

@media screen and (max-width: 600px) {


    .item-featured-box {
        margin: 10px 0px;
    }
    .title-featured,
    .title-featured2,
    .title-featured3 {
        font-size: 20px;
    }
}

