.Formnewproject {
    display: none;
    position: fixed;
    min-height: 550px;
    top: 10%;
    left: 20%;
    width: 60%;
    height: 60%;
    background-color: #fff;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}



.Formnewproject > form {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.Formnewproject > form > input::placeholder {
    font-size: .9em;
}

.Formnewproject > form > textarea::placeholder {
    font-size: 1.1em;
}

.Formnewproject > form > input {
    width: 100%;
    height: 35px;
}

.Formnewproject > form > textarea ,
.Formnewproject > form > input {
    width: 100%;
    font-size: 1em;
    letter-spacing: 1px;
    border-radius: 3px;
    outline-style: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 5px 10px;
    margin: 10px 0 ;
}

.Formnewproject  > .actionForm {
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: flex-end;
}

.actionForm > button {
    border: none;
    margin: 10px 0;
    background-color: #5A4EE5;
    width: 80px;
    height: 30px;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
}

.actionForm > button > .disable {
    background-color: rgb(109, 73, 83) !important;
    box-shadow:none !important;
    cursor: not-allowed !important;
}

.Formnewproject  > .actionForm > .cancel {
    margin-left: 10px;
    background-color: rgb(255, 0, 0);
}