@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

.notes-list {
    margin-top: 40px;
    justify-content: space-between;

    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin-bottom: 20px;
}
 
.notes-card {
    width: 23%;
    margin: 5px;
    height: 120px;
    padding: 10px;
    background-color: #FBE9F3;
    color: #000;
    font-weight: bold;
    border-radius: 5px;
    position: relative;
    border: 1px solid rgba(0, 0, 0, .1);
    box-shadow: 5px 5px 8px rgba(0, 0, 0, .05);
}

.time-note {
    bottom: 5px;
    position: absolute;
    font-size: .8em;
    font-weight: lighter;
    color: rgba(0, 0, 0, .8);
}

.date-note {
    font-size: .8em;
    font-weight: lighter;
    color: rgba(0, 0, 0, .8);
}