@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

.notes-list {
    margin-top: 40px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
 
.notes-card {
    width: 20%;
    height: 120px;
    margin-left: 20px;
    margin-top: 20px;
    padding: 20px;
    background-color: #958dec;
    color: white;
    font-weight: bold;
    border-radius: 20px;
    box-shadow: 0px 0px 5px #958dec;
    position: relative;
}

.time-note {
    bottom: 5px;
    position: absolute;
    font-size: small;
    font-weight: lighter;
}

.date-note {
    font-weight: bold;
    text-decoration: underline;
}